<a href="https://colab.research.google.com/github/levchenkoov/diplom/blob/main/ABI_12_%D0%9B%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE_%D0%9E_%D0%92_%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Подготовка данных

Загружаем данные

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df1= pd.read_csv("combined.csv", delimiter=';', encoding='windows-1251', decimal=',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,15,16,19,20,22,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df1.head()

  № заявки Статус заявки     Тип  ...  Прибыль Оплачено оператору Пересадка
0   522858    Оплачено.   Оплата  ... -1076.26           45740.94       NaN
1   522858    Оплачено.   Оплата  ...     0.00               0.00       NaN
2   522858    Оплачено.   Оплата  ...     0.00               0.00       NaN
3   522858    Оплачено.   Оплата  ...     0.00           34693.11       NaN
4    1 / 0           NaN     NaN  ... -1076.26           80434.05       NaN

[5 rows x 29 columns]

Убираем лишние колонки

In [ ]:
df1.columns

Index(['№ заявки', 'Статус заявки', 'Тип', 'Дата продажи',
       'Дата создания заявки', 'Плательщик', 'Теплоход', 'Даты рейса',
       'Услуга', 'Турист', 'Дата рождения', 'Гражданство',
       'Города отправления - прибытия', 'Количество дней круиза', 'Каюта',
       'Стоимость у оператора', 'Скидка оператора %', 'Скидка оператора, руб',
       'Основание', 'Всего с учетом скидки', 'Комиссия, %', 'Комиссия, руб',
       'Скидка, %', 'Скидка, руб', 'Наценка', 'Получено с туриста', 'Прибыль',
       'Оплачено оператору', 'Пересадка'],
      dtype='object')

In [ ]:
df3=df1[ ['№ заявки', 'Статус заявки', 'Тип', 'Дата продажи',
       'Дата создания заявки', 'Плательщик', 'Теплоход', 'Даты рейса',
       'Услуга', 'Турист', 'Дата рождения','Города отправления - прибытия', 'Количество дней круиза','Прибыль'] ]

In [ ]:
df3.head()

  № заявки Статус заявки  ... Количество дней круиза  Прибыль
0   522858    Оплачено.   ...                      7 -1076.26
1   522858    Оплачено.   ...                      7     0.00
2   522858    Оплачено.   ...                      7     0.00
3   522858    Оплачено.   ...                      7     0.00
4    1 / 0           NaN  ...                    NaN -1076.26

[5 rows x 14 columns]

Убираем строки с ошибками

In [ ]:
 df2=df1.replace(r'\s+', np.nan, inplace=True)

In [ ]:
df2=df3.dropna()

In [ ]:
df2.head()

  № заявки Статус заявки  ... Количество дней круиза  Прибыль
0   522858    Оплачено.   ...                      7 -1076.26
1   522858    Оплачено.   ...                      7     0.00
2   522858    Оплачено.   ...                      7     0.00
3   522858    Оплачено.   ...                      7     0.00
8   516129    Оплачено.   ...                      9 -1152.96

[5 rows x 14 columns]

Меняем формат данных

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171049 entries, 0 to 202731
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   № заявки                       171049 non-null  object
 1   Статус заявки                  171049 non-null  object
 2   Тип                            171049 non-null  object
 3   Дата продажи                   171049 non-null  object
 4   Дата создания заявки           171049 non-null  object
 5   Плательщик                     171049 non-null  object
 6   Теплоход                       171049 non-null  object
 7   Даты рейса                     171049 non-null  object
 8   Услуга                         171049 non-null  object
 9   Турист                         171049 non-null  object
 10  Дата рождения                  171049 non-null  object
 11  Города отправления - прибытия  171049 non-null  object
 12  Количество дней круиза         171049 non-null  object
 13  Прибыль                        171049 non-null  float64
dtypes: float64(1), object(13)
memory usage: 19.6+ MB

In [ ]:
df2['Количество дней круиза'] = df2['Количество дней круиза'].astype('int')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2[['Дата продажи', 'Дата создания заявки']] = pd.to_datetime(df2[['Дата продажи', 'Дата создания заявки']].stack()). unstack()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
df2['Дата рождения'] = pd.to_datetime(df2['Дата рождения'], errors='coerce')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171049 entries, 0 to 202731
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   № заявки                       171049 non-null  object
 1   Статус заявки                  171049 non-null  object
 2   Тип                            171049 non-null  object
 3   Дата продажи                   171049 non-null  datetime64[ns]
 4   Дата создания заявки           171049 non-null  datetime64[ns]
 5   Плательщик                     171049 non-null  object
 6   Теплоход                       171049 non-null  object
 7   Даты рейса                     171049 non-null  object
 8   Услуга                         171049 non-null  object
 9   Турист                         171049 non-null  object
 10  Дата рождения                  159026 non-null  datetime64[ns]
 11  Города отправления - прибытия  171049 non-null  object
 12  Количество дней круиза         171049 non-null  int64
 13  Прибыль                        171049 non-null  float64
dtypes: datetime64[ns](3), float64(1), int64(1), object(9)
memory usage: 24.6+ MB

Убираем отрицательную продолжительность  круиза

In [ ]:
df7=df2[df2 ['Количество дней круиза'] > 0][['№ заявки', 'Статус заявки', 'Тип', 'Дата продажи',
       'Дата создания заявки', 'Плательщик', 'Теплоход', 'Даты рейса', 'Услуга',
       'Турист', 'Дата рождения','Города отправления - прибытия', 'Количество дней круиза','Прибыль']]
df7. head()

  № заявки Статус заявки  ... Количество дней круиза  Прибыль
0   522858    Оплачено.   ...                      7 -1076.26
1   522858    Оплачено.   ...                      7     0.00
2   522858    Оплачено.   ...                      7     0.00
3   522858    Оплачено.   ...                      7     0.00
8   516129    Оплачено.   ...                      9 -1152.96

[5 rows x 14 columns]

In [ ]:
df8=df7.dropna()

Оставляем данные только с Услугой "Круиз"

In [ ]:
df=df8[df8 ['Услуга']== "Круиз"][['№ заявки', 'Статус заявки', 'Тип', 'Дата продажи',
       'Дата создания заявки', 'Плательщик', 'Теплоход', 'Даты рейса',
       'Турист', 'Дата рождения','Города отправления - прибытия', 'Количество дней круиза','Прибыль']]
df. head()

  № заявки Статус заявки  ... Количество дней круиза  Прибыль
0   522858    Оплачено.   ...                      7 -1076.26
1   522858    Оплачено.   ...                      7     0.00
2   522858    Оплачено.   ...                      7     0.00
8   516129    Оплачено.   ...                      9 -1152.96
9   516129    Оплачено.   ...                      9     0.00

[5 rows x 13 columns]

Создаем столбец с возрастом

In [ ]:
from datetime import date

In [ ]:
today = date.today()
df['Возраст']=df['Дата рождения'].apply(
               lambda x: today.year - x.year - 
               ((today.month, today.day) < (x.month, x.day)) 
               )

In [ ]:
df.head()

  № заявки Статус заявки     Тип  ... Количество дней круиза  Прибыль Возраст
0   522858    Оплачено.   Оплата  ...                      7 -1076.26      59
1   522858    Оплачено.   Оплата  ...                      7     0.00      59
2   522858    Оплачено.   Оплата  ...                      7     0.00       9
8   516129    Оплачено.   Оплата  ...                      9 -1152.96      64
9   516129    Оплачено.   Оплата  ...                      9     0.00      71

[5 rows x 14 columns]

Сохраняем ДФ для последующей работы в программе Power BI desktop

In [ ]:
df.to_csv("PBI.csv")

2. Анализ

Выявить плательщиков - агентов, приносящих наибольшую прибыль (топ-5 и топ-20).

In [ ]:
df4=df[['Плательщик', 'Прибыль']].groupby('Плательщик').sum()

In [ ]:
df4.sort_values('Прибыль', ascending=False).head(5)

                                              Прибыль
Плательщик
ООО "Твой круиз"                           3442255.04
ООО "ВОЛГА ТУР"                            2425490.49
ООО ТК Активный Тур                        1889684.28
ООО "Речфлот" (фрахт т/х "Анна Каренина")  1370339.53
FOCUS TRAVEL CO., LTD                      1357170.99

In [ ]:
df4.sort_values('Прибыль', ascending=False).head(20)

                                                       Прибыль
Плательщик
ООО "Твой круиз"                                    3442255.04
ООО "ВОЛГА ТУР"                                     2425490.49
ООО ТК Активный Тур                                 1889684.28
ООО "Речфлот" (фрахт т/х "Анна Каренина")           1370339.53
FOCUS TRAVEL CO., LTD                               1357170.99
Воробьева Элина Викторовна                          1318108.15
ООО «Морские и речные круизы»                       1297657.40
ООО "Отель-Ресторан-Туризм-Сервис"                   843537.14
Шашарина Карина Андреевна                            829467.77
ТА Мегафлот (малый флот)                             759043.66
ООО "Речные путешествия"                             753924.46
ООО "Круизная Компания "Волго-Балтийские путеше...   667281.68
ООО "Нико Турс Тольятти"                             613313.10
bron12@delfin.ru                                     554375.94
ООО «МП ВОЯЖ»                                        528584.21
ООО КруизКомпания "ИнтурВолга"                       460703.86
ООО "Эйпи тревел"                                    458955.55
ООО «Созвездие»                                      445896.08
ООО Инфлот круизы и путешествия                      418311.77
ООО Арина                                            384652.14

Выявить востребованность круизов разной продолжительности: Круиз выходного дня, круиз малой продолжительности, круиз средней продолжительности и длительные круизы у туристов разных возрастов.

In [ ]:
df11 = df[['№ заявки', 'Количество дней круиза', 'Возраст']]

In [ ]:
conditions = [
    (df11['Возраст'] <= 14 ),   
    (df11['Возраст'] >= 55 )]
choices = [1, 3]   # 1- Ребенок, 2- Взрослый, 3 - Пенсионер
df11['Тип туриста'] = np.select(conditions, choices, default= 2)
print(df11)

       № заявки  Количество дней круиза  Возраст  Тип  Тип круиза  Тип туриста
0        522858                       7       59    3           2            3
1        522858                       7       59    3           2            3
2        522858                       7        9    1           2            1
8        516129                       9       64    3           3            3
9        516129                       9       71    3           3            3
...         ...                     ...      ...  ...         ...          ...
202727   634525                       3       53    2           1            2
202728   634525                       3       61    3           1            3
202729   634525                       3       11    1           1            1
202730   634870                       3       59    3           1            3
202731   634870                       3       45    2           1            2

[156028 rows x 6 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
conditions = [
    (df11['Количество дней круиза'] <= 3),   
    (df11['Количество дней круиза'] <= 7 ),
    (df11['Количество дней круиза'] <= 14 )]
choices = [1, 2, 3]   # 1- КВД, 2 - Короткий, 3- Средний, 4 - Длительный
df11['Тип круиза'] = np.select(conditions, choices, default= 4)
print(df11)

       № заявки  Количество дней круиза  Возраст  Тип  Тип круиза
0        522858                       7       59    3           2
1        522858                       7       59    3           2
2        522858                       7        9    1           2
8        516129                       9       64    3           3
9        516129                       9       71    3           3
...         ...                     ...      ...  ...         ...
202727   634525                       3       53    2           1
202728   634525                       3       61    3           1
202729   634525                       3       11    1           1
202730   634870                       3       59    3           1
202731   634870                       3       45    2           1

[156028 rows x 5 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Смотрим описательную статистику

In [ ]:
df11.describe()

       Количество дней круиза        Возраст  ...     Тип круиза    Тип туриста
count           156028.000000  156028.000000  ...  156028.000000  156028.000000
mean                 4.969877      52.643378  ...       1.825897       2.488278
std                  3.681397      19.824170  ...       0.742831       0.657598
min                  1.000000    -175.000000  ...       1.000000       1.000000
25%                  2.000000      43.000000  ...       1.000000       2.000000
50%                  4.000000      58.000000  ...       2.000000       3.000000
75%                  6.000000      66.000000  ...       2.000000       3.000000
max                372.000000     330.000000  ...       4.000000       3.000000

[8 rows x 5 columns]

Проверяем распределение на нормальность (критерий Шапиро-Уилка)

In [ ]:
 import scipy.stats

In [ ]:
df11.s = df11.sample(30)

In [ ]:
print(df11.s)

       № заявки  Количество дней круиза  Возраст  Тип  Тип круиза  Тип туриста
80033    578724                       4       20    2           2            2
57543    550843                       5       43    2           2            2
59579    558384                       8       96    3           3            3
28257    537458                       2       23    2           1            2
162610   615610                       9       71    3           3            3
12707    513618                       5       70    3           2            3
84471    569303                       2       66    3           1            3
158925   604375                       5       58    3           2            3
59726    552788                       2       74    3           1            3
43559    543701                       9       69    3           3            3
6557     528687                       9       58    3           3            3
98008    585597                       4       68    3           2            3
183309   600831                      22       63    3           4            3
160537   627785                       2       75    3           1            3
81598    524348                       1       15    2           1            2
121424   588241                      13       57    3           3            3
93334    564404                       1       36    2           1            2
182408   614136                       3       58    3           1            3
153899   612793                       3       66    3           1            3
190926   640735                       3        9    1           1            1
36412    543827                       4       37    2           2            2
43041    529738                       6       67    3           2            3
159080   609646                       2       45    2           1            2
48085    557683                       2       50    2           1            2
61664    556917                       5       72    3           2            3
117954   598234                       1       38    2           1            2
184530   598357                       6       57    3           2            3
37923    533996                       5       50    2           2            2
189868   635392                       2       13    1           1            1
39157    541372                       5       11    1           2            1

In [ ]:
stat, p = scipy.stats.shapiro(df11.s['Тип круиза'])
print('Statistics=%.3f, p-value=%.3f' % (stat, p))
alpha = 0.05
if p > alpha:
    print('Принять гипотезу о нормальности')
else:
    print('Отклонить гипотезу о нормальности')

Statistics=0.735, p-value=0.000
Отклонить гипотезу о нормальности

In [ ]:
stat, p = scipy.stats.shapiro(df11.s['Тип туриста']) 
print('Statistics=%.3f, p-value=%.3f' % (stat, p))
alpha = 0.05
if p > alpha:
    print('Принять гипотезу о нормальности')
else:
    print('Отклонить гипотезу о нормальности')

Statistics=0.725, p-value=0.000
Отклонить гипотезу о нормальности

Распределения не являются нормальными. Для анализа в этом случае используем U-тест Манна-Уитни

In [ ]:
from scipy.stats import mannwhitneyu

In [ ]:
stat, p = mannwhitneyu(df11.s['Тип круиза'], df11.s['Тип туриста'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
alpha = 0.05
if p > alpha:
	print('Не в состоянии отклонить H0: Распределения выборки равны')
else:
	print('Отклонить H0: Распределения выборки не равны')

Statistics=245.000, p=0.001
Отклонить H0: Распределения выборки не равны